/*==========ARTICLE SECTION==========*/
.article__container {
    width: 100%;
    @include column-center;
    gap: 40px;

    .article__row {
        width: 100%;
        @include column-center;
        gap: 30px;
        text-align: center;

        @media (min-width: 992px) {
            text-align: start;
        }
        .article__image {
            width: 100%;
            @include row-center;
            img {
                width: 100%;
                height: auto;
                max-width: 500px;
                max-height: 500px;
                object-fit: contain;
                @media (min-width: 992px){
                    max-width: 700px;
                    max-height: 700px;
                }
            }
        }

        .article__content {
            width: 100%;
            @include column-center;
            gap: 20px;

            @media (min-width: 992px) {
                align-items: flex-start;
                justify-content: flex-start;
            }

            .article__title {
                font-size: 18px;
                font-weight: 600;

                @media (min-width: 768px) {
                    font-size: 22px;
                }
                @media (min-width: 1200px) {
                    font-size: 28px;
                }
            }

            .article__text {
                font-size: 14px;

                @media (min-width: 768px) {
                    font-size: 16px;
                }
            }
        }
        &.has__image {
            @media (min-width: 992px) {
                @include row-between;
                align-items: stretch;
                .article__image{
                    justify-content: flex-start;
                }
                &:nth-child(even) {
                    flex-direction: row-reverse;
                    .article__image{
                        justify-content: flex-end;
                    }
                }

            }
        }
    }
}

/*==========ARTICLE SECTION==========*/