section.banner-section {
    .row {
        gap: 30px;

        .banner-col {
            padding: 0;
        }

        @media (width >=992px) {
            gap: 0;

            .bc-left {
                @include row-start;
            }

            .bc-center {
                @include row-end;
                padding-left: 30px;
            }

            .bc-right {
                margin-top: 30px;
            }
        }

        @media (width >=1400px) {

            .bc-center {
                padding-right: 30px;
            }

            .bc-right {
                margin-top: 0;
            }
        }
    }

    .banner-swiper {
        .swiper-button-prev,
        .swiper-button-next{
            &::after{
                display: none;
            }
            i{
                font-size: 24px;
                color: #000;
            }
        }
        @media (width >=992px) {
            height: 100%;
        }
    }

    .banner-slide {
        display: block;
        width: 100%;
        max-width: 800px;

        img {
            width: 100%;
            height: auto;
            max-height: 415px;
            object-fit: contain;
        }

        @media (width >=992px) {
            height: 100%;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .static-banners {
        width: 100%;
        @include column-center;
        gap: 10px;

        a {
            width: 100%;
            display: block;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        @media (width >= 992px) {
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
        }

        @media (width >=1400px) {
            height: 100%;
            flex-direction: column;
            a{
                max-width: 350px;
                img{
                    max-height: 200px;
                }
            }
        }
    }
}