.static-images-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    grid-template-areas:
        "item-1"
        "item-2"
        "item-3";

    @media (width >=576px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "item-1 item-2"
            "item-1 item-3"
    }

    .image-item {
        display: block;
        width: 100%;
        height: auto;

        &:nth-child(1) {
            grid-area: item-1;
        }

        &:nth-child(2) {
            grid-area: item-2;
        }

        &:nth-child(3) {
            grid-area: item-3;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}