header {
    width: 100%;
    position: relative;

    nav {
        width: 100%;
        position: relative;
        background-color: #fff;
        &.fixed-nav {
            position: fixed;
            top: 0;
            left: 0;
            box-shadow: 0 0 10px $black-2;
            animation: $fixnav-animation;
            -webkit-animation: $fixnav-animation;
            z-index: 39090;
            .general-categories-wrapper{
                .category-panel {
                    .categories{
                        box-shadow: 0 0 10px $black-2;
                    }
                }
            }
        }

        .row {
            width: 100%;
            margin: auto;
            padding: 12px 0;

            .col-12,
            .col-6 {
                padding: 0;
            }
        }

        &.mobile-navbar {
            .row {
                position: relative;
                .left-col {
                    @include row-justify-start;
                }
    
                .right-col {
                    @include row-justify-end;
                }
            }
        }
        &.general-navbar {
            .row {
                position: relative;
                .nav-col {
                    padding: 0;

                    &.nc-left {
                        @include row-justify-start;
                    }

                    &.nc-center {
                        @include row-between;
                        padding: 0 30px;
                        gap: 20px
                    }

                    &.nc-right {
                        @include row-justify-end;
                    }
                }
            }
        }
    }    
}



@import "components";