header {
    width: 100%;
    position: relative;

    nav {
        width: 100%;
        position: relative;

        .nav-inner {
            width: 100%;
            @include row-between;
            gap: 10px;
            padding: 12px 0;
        }

        &.general-navbar {
            .nav-left {
                @include row-justify-start;
            }

            .nav-center {
                @include row-center;
                width: 100%;
            }

            .nav-right {
                @include row-justify-end;
            }
        }

    }
}

@import "components";