header {
    width: 100%;
    position: relative;

    nav {
        width: 100%;
        position: relative;
        background-color: #fff;

        &.fixed-top {
            box-shadow: 0 0 10px $black-2;
            animation: $fixnav-animation;
            -webkit-animation: $fixnav-animation;
        }

        .nav-inner {
            width: 100%;
            @include row-between;
            gap: 10px;
            padding: 12px 0;
            position: relative;
        }

        &.general-navbar {
            .category-menu-button {
                background-color: $primary-color;
                @include row-center;
                gap: 10px;
                min-width: 160px;
                min-height: 40px;
                color: #fff;
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                cursor: pointer;

                &:hover {
                    animation: $pulse-primary;
                    -webkit-animation: $pulse-primary;
                }

                img {
                    width: 24px;
                    height: 24px;
                    object-fit: contain;
                }

                span {
                    color: #FFF;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }

            .row {
                .nav-col {
                    padding: 0;

                    &.nc-left {
                        @include row-justify-start;
                    }

                    &.nc-center {
                        @include row-between;
                        padding: 0 30px;
                        gap: 20px
                    }

                    &.nc-right {
                        @include row-justify-end;
                    }
                }
            }
        }

    }
}

@import "components";