.container {
    @media (width >=1600px) {
        max-width: 1490px;
    }
}


.top-alert-wrapper {
    width: 100%;
    min-height: 50px;
    background-color: $primary-color;
    color: #ffffff;
    text-align: center;
    position: relative;

    .close-button {
        color: #E0B4B4;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        @media (width >=992px) {
            font-size: 20px;
            top: 50%;
            right: 20px;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
        }
    }

    .alert-inner {
        width: 100%;
        @include row-center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px 25px;

        .alert-text {
            color: #ffffff;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
        }

        .alert-button {
            width: 100%;
            max-width: 210px;
            min-height: 30px;
            padding: 5px;
            background-color: #ffffff;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            @include row-center;
            gap: 5px;
            color: $primary-color;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
        }

        @media (width >=992px) {
            padding: 5px 10px;

            .alert-text {
                font-size: 14px;
            }

            .alert-button {
                font-size: 14px;
                min-height: 40px;
            }
        }
    }
}


.category-container {
    width: 100%;
    @include column-justify-start;
    z-index: 600;

    &-heading {
        width: 100%;
        min-height: 55px;
        padding: 10px;
        @include row-center;
        text-align: center;
        background-color: $primary-color;
        color: #FFF;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        -o-border-radius: 5px 5px 0 0;
    }

    .categories {
        width: 100%;
        @include column-justify-start;
        border: 1px solid #EBEBEB;
        border-bottom: 0;

        .category {
            width: 100%;
            position: relative;
            background-color: #fff;

            .main-row {
                width: 100%;
                @include row-between;
                padding: 10px;
                border-bottom: 1px solid #ECECEC;

                a {
                    color: #333E48;
                    font-family: Inter;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .toggle-button {
                    color: #333E48;
                    font-size: 14px;
                    flex-grow: 1;
                    @include row-justify-end;
                    cursor: pointer;
                }

                &:hover {
                    background-color: $primary-color;
                    transition: all 0.3s;
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -ms-transition: all 0.3s;
                    -o-transition: all 0.3s;

                    a {
                        color: #fff;
                    }

                    .toggle-button {
                        color: #fff;
                    }
                }
            }

            &.has-child {
                .toggle-button {
                    display: flex;
                }
            }

            &.no-child {
                .toggle-button {
                    display: none;
                }
            }
        }
    }

    .altcategories {
        width: 100%;
        padding-left: 15px;
        display: none;
        background-color: #fff;

        @media (width >=992px) {
            position: absolute;
            top: 0;
            left: 100%;
            border: 1px solid #EBEBEB;
            border-bottom: 0;
            padding-left: 0;
        }
    }
}

.section-title {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 35px;

    &.secondary {
        @media (width >=992px) {
            font-size: 40px;
        }
    }
}

.product-card {
    width: 100%;
    max-width: 266px;
    padding: 3px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid #EBEBEB;
    background-color: #fff;
    @include column-justify-start;

    .product-image {
        width: 100%;
        max-height: 260px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }
    }

    .info {
        width: 100%;
        @include column-justify-start;
        padding: 9px 7px;
        gap: 15px;

        .stock-code {
            width: 100%;
            @include row-between;

            .stock {
                color: #73787D;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .code {
                color: #73787D;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }

        .product-title {
            width: 100%;
            color: #004EC3;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .product-price {
            width: 100%;
            @include row-justify-start;
            gap: 15px;

            .main-price {
                color: #ED2027;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .old-price {
                color: #535E68;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-decoration-line: strikethrough;
            }
        }

        .product-buttons {
            width: 100%;
            @include row-between;
            gap: 15px;

            .basket-button {
                @include row-center;
                width: 200px;
                height: 37px;
                color: #fff;
                cursor: pointer;
                background-color: $primary-color;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;

                &:hover {
                    animation: $pulse-primary;
                    -webkit-animation: $pulse-primary;
                }
            }

            .favorite-button {
                font-size: 24px;
                color: $primary-color;
                cursor: pointer;
            }
        }
    }
}