.container {
    @media (width >=1600px) {
        max-width: 1490px;
    }
}


.top-alert-wrapper {
    width: 100%;
    min-height: 50px;
    background-color: $primary-color;
    color: #ffffff;
    text-align: center;
    position: relative;

    .close-button {
        color: #E0B4B4;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        @media (width >=992px) {
            font-size: 20px;
            top: 50%;
            right: 20px;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
        }
    }

    .alert-inner {
        width: 100%;
        @include row-center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px 25px;

        .alert-text {
            color: #ffffff;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
        }

        .alert-button {
            width: 100%;
            max-width: 210px;
            min-height: 30px;
            padding: 5px;
            background-color: #ffffff;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            @include row-center;
            gap: 5px;
            color: $primary-color;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
        }

        @media (width >=992px) {
            padding: 5px 10px;

            .alert-text {
                font-size: 14px;
            }

            .alert-button {
                font-size: 14px;
                min-height: 40px;
            }
        }
    }
}


.section-title {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 35px;

    &.secondary {
        @media (width >=992px) {
            font-size: 40px;
        }
    }
}

.product-card {
    width: 100%;
    max-width: 266px;
    padding: 3px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid #EBEBEB;
    background-color: #fff;
    @include column-justify-start;

    .product-image {
        width: 100%;
        max-width: 260px;
        max-height: 260px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }
    }

    .info {
        width: 100%;
        @include column-justify-start;
        padding: 9px 7px;
        gap: 15px;

        .stock-code {
            width: 100%;
            @include row-between;

            .stock {
                color: #73787D;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .code {
                color: #73787D;
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }

        .product-title {
            width: 100%;
            color: #004EC3;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .product-price {
            width: 100%;
            @include row-justify-start;
            gap: 15px;

            .main-price {
                color: #ED2027;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .old-price {
                color: #535E68;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-decoration-line: strikethrough;
            }
        }

        .product-buttons {
            width: 100%;
            @include row-between;
            gap: 15px;

            .basket-button {
                @include row-center;
                width: 200px;
                height: 37px;
                color: #fff;
                cursor: pointer;
                background-color: $primary-color;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;

                &:hover {
                    animation: $pulse-primary;
                    -webkit-animation: $pulse-primary;
                }
            }

            .favorite-button {
                font-size: 24px;
                color: $primary-color;
                cursor: pointer;
                .fa-regular{
                    display: block;
                }
                .fa-solid{
                    display: none;
                }
                &.active{
                    .fa-regular{
                        display: none;
                    }
                    .fa-solid{
                        display: block;
                    }
                }
            }
        }
    }
}


.page-heading {
    width: 100%;
    @include column-align-start;
    padding: 20px 0;
    gap: 20px;

    @media (width >=992px) {
        padding-top: 40px;
    }

    .breadcrumbs {
        width: 100%;
        @include row-justify-start;
        flex-wrap: wrap;
        gap: 7px;

        a {
            color: #004EC3;
            font-family: Inter;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            &:last-child {
                color: #73787D;
            }
        }

        i {
            color: #73787D;
            font-size: 12px;
        }
    }

    .page-title {
        color: #000;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}


.price-filter {
    width: 100%;
    @include column-center;
    padding: 12px 0;
    gap: 15px;

    .input-row {
        width: 100%;
        @include row-between;

        input {
            width: 45%;
            height: 30px;
            text-align: center;
            font-weight: 500;
            font-size: 17px;
            border: 1px solid #475569;
            background: #F2F3F5;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
        }
    }

    .range-row {
        width: 100%;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 4px;
            transform: translateY(-50%);
            background-color: $primary-color;
            z-index: 1;
            border-radius: 10px;
        }

        input {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            transform: translateY(-50%);
            appearance: none;
            pointer-events: none;
            background-color: transparent;
            z-index: 5;

            &::-webkit-slider-thumb {
                appearance: none;
                -webkit-appearance: none;
                pointer-events: auto;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $primary-color;
            }
        }
    }
}


.products-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    place-items: center;
    @media (width >= 768px){
        grid-template-columns: repeat(2,1fr);
    }
    @media (width >= 992px){
        grid-template-columns: repeat(3,1fr);
    }
    @media (width >= 1400px){
        grid-template-columns: repeat(4,1fr);
    }
    @media (width >= 1600px){
        grid-template-columns: repeat(5,1fr);
    }
}


.product-amount {
    @include row-center;
    gap: 10px;

    .amount-button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: #F8F8F8;
        border: 1px solid #BFC6CC;
        @include row-center;
        color: #333E48;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        user-select: none;
        cursor: pointer;
    }

    input {
        border: none;
        outline: none;
        text-align: center;
        width: 30px;
    }
}