.container {
    $padding-x: 12px;
    $width-sm: 540px;
    $width-md: 720px;
    $width-lg: 960px;
    $width-xl: 1140px;
    $width-xxl: 1170px;
    $width-2xxl: 1490px;

    width: 100%;
    margin: 0 auto;
    padding-left: $padding-x;
    padding-right: $padding-x;

    @media (min-width: 576px) {
        max-width: $width-sm;
    }

    @media (min-width: 768px) {
        max-width: $width-md;
    }

    @media (min-width: 992px) {
        max-width: $width-lg;
    }

    @media (min-width: 1200px) {
        max-width: $width-xl;
    }

    @media (min-width: 1400px) {
        max-width: $width-xxl;
    }

    @media (min-width: 1600px) {
        max-width: $width-2xxl;
    }
}



.top-alert-wrapper {
    width: 100%;
    min-height: 50px;
    background-color: $primary-color;
    color: #ffffff;
    text-align: center;
    position: relative;
    .close-button{
        color: #E0B4B4;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        @media (width >= 992px){
            font-size: 20px;
            top: 50%;
            right: 20px;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
}
    }
    .alert-inner {
        width: 100%;
        @include row-center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px 25px;

        .alert-text {
            color: #ffffff;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
        }

        .alert-button {
            width: 100%;
            max-width: 210px;
            min-height: 30px;
            padding: 5px;
            background-color: #ffffff;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            @include row-center;
            gap: 5px;
            color: $primary-color;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
        }
        @media (width >= 992px){
            padding: 5px 10px;
            .alert-text{
                font-size: 14px;
            }
            .alert-button{
                font-size: 14px;
                min-height: 40px;
            }
        }
    }
}